<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.title}}">
  <ion-content class="padding">
    <p>
      {{chat.content}}
    </p>
    
     <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="img in images" type="item-text-wrap">
        <img ng-src="{{img}}" style="width: 64px; height: 64px">
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>
