<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{contact.title}}">
  <ion-content class="padding">

     <ion-list>
      <ion-item ng-repeat="con in contact.contactList" type="item-text-wrap">
        <h2>{{con.name}}</h2>
        <div>{{con.phone}}</div>
        <div>recommended by  {{con.recommended}}</div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
